@charset "utf-8";

* {
    box-sizing: border-box;
}

body {
    background-image: url('https://images.unsplash.com/photo-1580584126903-c17d41830450?q=80&w=1939&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Nova Square', sans-serif;
}

.container {
    background-color: #c00b0b; /* Red with 70% opacity */
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    color: #ccac00;
    position: relative;
    text-align: center;
    width: 500px;
}

input {
    border: 0;
    border-radius: 4px;
    font-size: 14px;
    width: 300px;
    padding: 12px 20px;
    margin-top: 10px;
    background: #a7c5e3;
    text-align: center;
    margin: 0 auto; 
}

button {
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    padding: 5px 15px;
}

select {
    width: 200px;
    padding: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    background-color: #a7c5e3;
}

select:focus,
button:focus {
    outline: 0;
}

.settings-btn {
    position: absolute;
    bottom: 30px;
    left: 30px;
    background: #a7c5e3;
}

.settings {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
}

.settings.hide {
    transform: translateY(-100%);
}

h2 {
    font-size: 30px;
    font-family: 'Finger Paint', Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 8px;
    border-radius: 4px;
    margin: 0 0 40px;
    margin-bottom: 30px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 40px;
    margin-bottom: 20px;
}

input {
    font-family: 'Nova Square', Geneva, Tahoma, sans-serif;
    border: 0;
    border-radius: 4px;
    font-size: 14px;
    width: 300px;
    margin-bottom: 25px;
    padding: 12px 20px;
    margin-top: 10px;
    color: #ccac00;
    background: #393737;
}

.creator-name {
    font-family: 'Finger Paint', Arial, Helvetica, sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}

.score-container {
    position: absolute;
    bottom: 39.4vh;
    right: 0;   
    margin-top: 10px;
    z-index: 1;
    width: 60px;
    height: 60px;
    text-align: center;
    background-color: #ccac00;
    color: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time-container {
    position: absolute;
    bottom: 42vh;
    z-index: 1;
    right: 59vh;
    width: 55px;
    height: 55px;
    background-color: #ccac00;
    color: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.end-game-container {
    background-color: inherit;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.end-game-container.hide {
    display: none; 
}

#start-btn-top-left:hover {
    background-color: #a00f0f;
}

#start-btn-top-left {
    background-color: #ff0000;
    position: fixed;
    font-family: 'Nova Square', sans-serif;
    border: none;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 20px;
    top: 10px;
    left: 10px;
    z-index: 2;
}

#restart-btn {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    font-family: 'Nova Square', sans-serif;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    z-index: 2;
    position: absolute;
    margin-left: 10vh;  
}

#restart-btn:hover {
    transition: 0.5s ease-in-out;
    background-color: #818080;
}

.hide {
    display: none;
}

#countdown-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000cc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    color: #fff;
    font-size: 2em;
}

#countdown {
    margin-bottom: 20px;
}

#ready, #set, #go {
    display: none;
}

#restart-button:hover {
    background-color: #a00f0f;
}

#restart-button {
    background-color: #ff0000;
    position: fixed;
    font-family: 'Nova Square', sans-serif;
    border: none;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 20px;
    bottom: 10px;
    left: 10px;
    z-index: 2;
}

.scoreboard-container {
    display: none;
    position: fixed;
    top: 50%;
    right: 0;  /* Adjusted to be on the right side */
    transform: translate(0, -50%);
    background-color: rgba(246, 208, 16, 0.9); 
    padding: 20px;
    height: 100vh;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
    max-height: 100vh;
    overflow-y: auto;
}

.scoreboard-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.scoreboard-container li {
    margin: 10px 0;
    font-size: 16px;
    text-align: left;
}

#no-scores {
    display: none;
    z-index: -2;
}

#show-scoreboard-btn {
    color: #fff;
    background-color: #818080;
    padding: 10px 20px;
    font-family: 'Nova Square', sans-serif;
    border: none;
    border-radius: 30px;
    border-style: none;
    cursor: pointer;
    font-size: 16px;
    z-index: 2;
    position: absolute;
    margin-left: 28vh;
    position: absolute;
    top: 31.1vh;
    right: 9vh;
}

#show-scoreboard-btn:hover {
    transition: 0.5s ease-in-out;
    background-color: #000000;
}

.clear-scoreboard-btn {
    color: #fff;
    background-color: #ccac00; 
    padding: 10px 20px;
    font-family: 'Nova Square', sans-serif;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    display: none;
    z-index: 2;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.clear-scoreboard-btn:hover {
    background-color: #a7c5e3; 
    transition: 0.5s ease-in-out;
}
